<!DOCTYPE html>
<html>
    <head>
        <title>Witch Store</title>
    </head>
    {% include 'templates/partials/navbar.html' %}
    {% include '/store_index.html' %}

    <body>
        {% block content %}
        <h1>{{ title }}</h1>
        <fieldset>
            <legend>Here Be Stuff</legend>
        {% for product in products %}
        <p> {{ product }}</p>
        {% endfor %}
            <div>
            <img src = "{{ product.img_url }}" alt={{ product.name }}>
            <form action="POST">
                <button type="button"><a href="cart.html">Buy It Now</a></button>
                <!-- find code to send prod_id info to cart -->
            </form>
            <p align=right>Product code: FC200
                <br>Price: $500USD
            </p>
            </div>
       </fieldset>
        {% endblock %}
    </body>
</html>