<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        {% block content %}
        <h1>{{ title }}</h1>
        <fieldset>
            <legend>Here be the Stuff</legend>
        {% for product in products %}
        <p> {{ product }}</p>
        {% endfor %}
            <div>
            <img src = "https://www.azuregreen.net/images/FC150.JPG" alt="Large Gazing Sphere">
            <form action="POST">
                <button type="button"><a href="cart.html">Buy It Now</a></button>
            </form>
            <p align=right>Product code: FC200
                <br>Price: $500USD
            </p>
            </div>
       </fieldset>
        {% endblock %}
    </body>
</html>