<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/profiles'>
    <fieldset>
    <legend>New Member</legend>
    <!-- TITLE -->
    <p>
        <label for='user_name'>Name</label><br>
        <input type='text' name='user_name' />
    </p>
    <p>
        <label for='user_email'>Email</label><br>
        <input type='text' name='user_email' />
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Add Profile (Save)</button>
    </p>
</form>
{% endblock %}