<!-- templates/store_index.html -->
{% extends 'base.html' %}

{% include 'partials/storefront_header.html' %}

{% block content %}
<div class="email_list">
    
        Join Our Mailing List!
        <form method="POST">
                Email: <input type="text" name="member_email">
        </form>
   

</div>
<h2>Featured Products</h2>


    {% for product in products %}
        {{ product.name }}
        {{ product.description }}
        {{ product.image }} <!-- examine -->
        {{ product.price }}
    {% endfor %}
{% endblock %}