<!-- templates/store_index.html -->
{% extends 'base.html' %}

{% include 'partials/storefront_header.html' %}

{% block content %}
<div class="email_list">
    <fieldset>
        <label>Join Our Mailing List</label>
        <form method="POST">
                Email:<input type="text" name="member_email">
        </form>
    </fieldset>

</div>
<h2>Featured Products</h2>


    {% for product in products %}
        {{ product.name }}
        {{ product.description }}
        {{ product.image }} <!-- examine -->
        {{ product.price }}
    {% endfor %}
{% endblock %}